<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to NabuBit</h1>
    <p>
      You have successfully signed up to nabubit.com.
    </p>
    <p>
      To confirm to the email, just follow <a href="<%= @verification_link %>">this link.</a>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
